<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{card.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="card.image" alt="Photo of a Card" width="200px" height="200px">
    <mat-card-content>
      <p>ManaCost: {{card.mana_cost}}</p>
      <p>Type: {{card.type}}</p>
      <p>Power: {{card.power}}</p>
      <p>Toughness: {{card.toughness}}</p>
      <p>{{card.text}}</p>
      <br/>
      <p><i>{{card.flavor}}</i></p>
    </mat-card-content>
  </mat-card>
