<div style="max-height: 800px; overflow: scroll;">
      <h1> {{card.name}}</h1>
      <img mat-card-image [src]="card.image" alt="Photo of a Card" width="300px">
  <hr>
  <p>ManaCost: {{card.mana_cost}}</p>
  <p>Type: {{card.type}}</p>
  <p>Power: {{card.power}}</p>
  <p>Toughness: {{card.toughness}}</p>
  <p>Counters: {{card.counter}}</p>
  <p>{{card.text}}</p>
  <br/>
  <p><i>{{card.flavor}}</i></p>
  <button mat-stroked-button (click)="addCounter()">Add Counter</button>
  <button mat-stroked-button (click)="subtractCounter()">Subtract Counter</button>
</div>

