<!-- <mat-list>
  <mat-list-item *ngFor="let card of cards">
    <img mat-card-image [src]="card.image" alt="Photo of a Card" width="200px" height="200px">
  </mat-list-item>
</mat-list> -->
<div style="max-height: 800px;overflow: scroll;">
    <h2>View Cards</h2>
    <hr/>
    <mat-form-field>
        <input matInput placeholder="Card Filter" name="cardFilter" [(ngModel)]="cardFilter" #cardFilterInput (input)="onSearchChange($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <mat-select name="company" placeholder="Select Action" [(ngModel)]="company" #companyValue>
        <mat-option [value]="0">
          Do Nothing
        </mat-option>
        <mat-option [value]="4">
          Move To Hand
        </mat-option>
        <mat-option [value]="5">
          Move To Discard
        </mat-option>
        <mat-option [value]="1">
          Move To Creatures
        </mat-option>
        <mat-option [value]="2">
          Move To Items / Enchantments
        </mat-option>
        <mat-option [value]="1">
          Move To Opponents Field
        </mat-option>
      </mat-select>
    </mat-form-field>
    <hr/>
    <div *ngFor="let card of tempCards">
        <div fxFlex="70%">
        <img mat-card-image [src]="card.image" alt="Missing Photo |" width="200px" height="200px"
        onError="this.src='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=500532&type=card';">
        </div>
        <div fxFlex="20%">
            {{card.name}}
            <button mat-button (click)="moveCard(card)">Execute</button>
        </div>
        <div fxFlex="10%">
        </div>
    </div>
</div>




