<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#DDBDF1'">
        <i>Discard</i> 
      </mat-grid-tile>  
      <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="">
          <i>Hand</i> 
      </mat-grid-tile>  
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
        <i>Land Cards</i> 
      </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'">
        <i>Libary</i>
      </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightblue'">
  <i>Items and Enchantments</i> 
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightpink'">
      <i>Creatures</i>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
  <hr>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightpink'">
   <i>Creatures</i>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'">
   <i>Libary</i>
</mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightblue'">
  <i>Items and Enchantments</i> 
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
    <i>Land Cards</i> 
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#DDBDF1'">
    <i>Discard</i> 
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="">
      <i>Hand</i> 
  </mat-grid-tile>
</mat-grid-list>
