
<div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
        <div style='width:200px;height:200px;' [style.background]="'lightblue'">
            <div><h1>{{ opponentPlayer?.life }}</h1></div>
            <h2>Library</h2> 
            <button mat-button (click)="viewCards(0, 2)">View Library</button>
            <button mat-button (click)="shuffleLibrary(2)">Shuffle Library</button>
            <i>count: {{ libraryTwoCards?.length }}</i>
        </div>
        <div style='width:200px;height:200px;' [style.background]="'#DDBDF1'">
            <h2>Discard</h2>
            <button mat-button (click)="viewCards(1, 2)">View Discard</button>
            <i>count: {{ discardTwo?.length }}</i>
        </div>
        <div>
            Opponents Life: <mat-icon (click)="increaseLife(2)">add</mat-icon> {{ opponentPlayer?.life }}  <mat-icon (click)="decreaseLife(2)">remove</mat-icon>
            <br/>
            Your Life: <mat-icon (click)="increaseLife(1)">add</mat-icon> {{ currentPlayer?.life }} <mat-icon (click)="decreaseLife(1)">remove</mat-icon>
        </div>
    </div>
    <div fxFlex="80%">
        <div cdkDropList #handTwoZone="cdkDropList" [cdkDropListData]="handTwo"  [cdkDropListConnectedTo]="[enchantmentsTwoZone, creaturesTwoZone, landsTwoZone]" 
        cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" 
        style="overflow-x:scroll;"> 
            <div *ngFor="let card of handTwo" cdkDrag (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
             [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                <img draggable="false" mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/Magic_the_gathering-card_back.jpg/200px-Magic_the_gathering-card_back.jpg" alt="Photo of a Card" style="width:80px;">
            </div>
        </div>
        <div cdkDropList #landsTwoZone="cdkDropList" [cdkDropListData]="landsTwo"  [cdkDropListConnectedTo]="[enchantmentsTwoZone, creaturesTwoZone, handTwoZone]" 
        cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
        [style.background]="'lightgreen'" [ngClass]="isScroll(3) > 10 ? 'mtgScrollRow' : ''">
            <div *ngFor="let card of landsTwo" cdkDrag (dblclick)="tapCard(card)" (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
             [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
            </div>
        </div>
        <div cdkDropList #enchantmentsTwoZone="cdkDropList" [cdkDropListData]="enchantmentsTwo" [cdkDropListConnectedTo]="[creaturesTwoZone, handTwoZone, landsTwoZone]"
        cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
        [style.background]="'lightblue'" style="overflow-x:scroll;">
        <div *ngFor="let card of enchantmentsTwo" cdkDrag (dblclick)="tapCard(card)" (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
        [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
            <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
        </div>
        </div>
        <div cdkDropList #creaturesTwoZone="cdkDropList" [cdkDropListData]="creaturesTwo" [cdkDropListConnectedTo]="[enchantmentsTwoZone, handTwoZone, landsTwoZone]" 
        cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" [style.background]="'#DDBDF1'" style="overflow-x:scroll;">
            <div *ngFor="let card of creaturesTwo" cdkDrag (dblclick)="tapCard(card)" (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
             [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="80%">
            <div cdkDropList #creaturesOneZone="cdkDropList" [cdkDropListData]="creaturesOne" [cdkDropListConnectedTo]="[enchantmentsOneZone, handOneZone, landsOneZone]" 
            cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" [style.background]="'#DDBDF1'" style="overflow-x:scroll;">
                <div *ngFor="let card of creaturesOne" cdkDrag (dblclick)="tapCard(card)"  (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
                 [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                    <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
                </div>
            </div>
            <div cdkDropList #enchantmentsOneZone="cdkDropList" [cdkDropListData]="enchantmentsOne" [cdkDropListConnectedTo]="[creaturesOneZone, handOneZone, landsOneZone]"
                cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
            [style.background]="'lightblue'" style="overflow-x:scroll;">
            <div *ngFor="let card of enchantmentsOne" cdkDrag (dblclick)="tapCard(card)"  (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
             [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
            </div>
            </div>
            <div cdkDropList #landsOneZone="cdkDropList" [cdkDropListData]="landsOne"  [cdkDropListConnectedTo]="[enchantmentsOneZone, creaturesOneZone, handOneZone]" 
            cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
            [style.background]="'lightgreen'" [ngClass]="isScroll(3) > 10 ? 'mtgScrollRow' : ''">
                <div *ngFor="let card of landsOne" cdkDrag (dblclick)="tapCard(card)"  (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()"
                [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                    <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
                </div>
            </div>
            <!-- <h2>Hand</h2> -->
            <div cdkDropList #handOneZone="cdkDropList" [cdkDropListData]="handOne"  [cdkDropListConnectedTo]="[enchantmentsOneZone, creaturesOneZone, landsOneZone]" 
            cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" 
            style="overflow-x:scroll;"> 
                <div *ngFor="let card of handOne" cdkDrag  (mouseenter)="hoveringOverCard(card)" (mouseleave)="hoverLeave()" [ngClass]="card.tapped == 1 ? 'rotateCard': ''">
                    <img draggable="false" mat-card-image [src]="card.image" alt="Photo of a Card" style="width:80px;">
                </div>
            </div>
        </div>
        <div fxFlex="20%">
            <mat-grid-list cols="4" rowHeight="80px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-select placeholder="Select Library" (selectionChange)="changePlayer($event.value)">
                        <mat-option *ngFor="let player of players" [value]="player.playerid"> <!--*ngFor="let food of foods"-->
                            {{player.playerid}}
                        </mat-option>
                    </mat-select>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="2">
                    <div style="overflow-y: auto;">
                        <div *ngFor="let event of eventLogs" >
                            <p> {{event}} </p>
                        </div>
                    </div>
                    <!-- <div style="overflow-y: auto;">
                        <div *ngFor="let event of eventLogs" >
                            <p> {{event}} </p>
                        </div>
                    </div> -->
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <textarea #cb1 matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-stroked-button color="primary" (click)="addEvent(cb1.value)">Submit</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <div><h1>{{ currentPlayer?.life }}</h1></div>
                    <div style='width:200px;height:200px;' [style.background]="'lightblue'">
                        <h2>Library</h2> 
                        <button mat-button (click)="viewCards(0, 1)">View Library</button>
                        <button mat-button (click)="shuffleLibrary(1)">Shuffle Library</button>
                        <button mat-button (click)="drawCard()">Draw Card</button>
                        <i>count: {{ libraryOneCards?.length }}</i>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <div style='width:200px;height:200px;' [style.background]="'#DDBDF1'">
                        <h2>Discard</h2>
                        <button mat-button (click)="viewCards(1, 1)">View Discard</button>
                        <i>count: {{ discardOne?.length }}</i>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>