<h1>Card Library</h1>
<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let card of cards" class="example-item">{{card.name}}</div>
  </cdk-virtual-scroll-viewport> -->

<mat-grid-list cols="5" rowHeight="1:2">
  <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
    <mat-card class="example-card" (click)="viewCard(card)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="card.image" alt="Photo of a Card">
      <mat-card-content>
        <p>
          card.description
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ADD</button>
        <button mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>